<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Microsoft.CodeCoverage" version="1.0.3" targetFramework="net46" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net46" />
  <package id="Ninject" version="3.3.4" targetFramework="net46" />
  <package id="Ninject.MockingKernel" version="3.3.0" targetFramework="net46" />
  <package id="Ninject.MockingKernel.NSubstitute" version="3.3.0" targetFramework="net46" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net46" />
  <package id="NUnit" version="3.10.1" targetFramework="net46" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net46" />
  <package id="OpenCover" version="4.6.519" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>